<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.projectskripsi">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@drawable/img_logo"
        android:label="Nutrifood"
        android:roundIcon="@drawable/img_logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".core.ui.admin.ActivityRiwayat"
            android:exported="false" />
        <activity
            android:name=".core.ui.admin.ActivityDetail"
            android:exported="false" />
        <activity
            android:name=".core.ui.admin.ActivityEdit"
            android:exported="false" />
        <activity
            android:name=".core.ui.admin.ActivityUtama"
            android:exported="false" />
        <activity
            android:name=".core.ui.pengguna.ActivityRiwayat"
            android:exported="false" />
        <activity
            android:name=".core.ui.pengguna.ActivityNutrisi"
            android:exported="false" />
        <activity
            android:name=".core.ui.pengguna.ActivityRestoran"
            android:exported="false" />
        <activity
            android:name=".core.ui.pengguna.ActivityDetail"
            android:exported="false" />
        <activity
            android:name=".core.ui.pengguna.ActivityCheckout"
            android:exported="false" />
        <activity
            android:name=".core.ui.pengguna.ActivityUtama"
            android:exported="false" />
        <activity
            android:name=".core.ui.auth.ActivityRegister"
            android:exported="false" />
        <activity
            android:name=".core.ui.auth.ActivityLogin"
            android:exported="false" />
        <activity
            android:name=".core.ui.auth.ActivityLoading"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>