<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.projectskripsi">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@drawable/img_logo"
        android:label="Nutrifood"
        android:roundIcon="@drawable/img_logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".features.pesanan.presentation.ActivityRiwayatAdmin"
            android:exported="false" />
        <activity
            android:name=".features.detail.presentation.ActivityDetailAdmin"
            android:exported="false" />
        <activity
            android:name=".features.edit.presentation.ActivityEdit"
            android:exported="false" />
        <activity
            android:name=".features.beranda.presentation.ActivityUtamaAdmin"
            android:exported="false" />
        <activity
            android:name=".features.pesanan.presentation.ActivityRiwayatUser"
            android:exported="false" />
        <activity
            android:name=".features.beranda.presentation.ActivityNutrisi"
            android:exported="false" />
        <activity
            android:name=".features.beranda.presentation.ActivityRestoran"
            android:exported="false" />
        <activity
            android:name=".features.detail.presentation.ActivityDetailUser"
            android:exported="false" />
        <activity
            android:name=".features.checkout.presentation.ActivityCheckout"
            android:exported="false" />
        <activity
            android:name=".features.beranda.presentation.ActivityUtamaUser"
            android:exported="false" />
        <activity
            android:name=".features.auth.presentation.ActivityRegister"
            android:exported="false" />
        <activity
            android:name=".features.auth.presentation.ActivityLogin"
            android:exported="false" />
        <activity
            android:name=".features.auth.presentation.ActivityLoading"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>